body {
    font-family: 'Yoster', 'DOSMyungjo';
    cursor: url('/assets/icon/cursor.svg'), default;
    user-select: none;
}

html {
    font-size: calc(100vw / 1920 * 20);
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.subtitle {
    color: white;
    font-size: var(--font-size-2xl);
}

#startScreen {
    padding: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background: var(--color-primary);
}

.folder-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.folder {
    position: relative;
    transform: translateY(-8%);
    width: 40%;
    aspect-ratio: 1448 / 1000;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.folder:hover {
    transform: translateY(-8%) scale(1.02);
}

.folder-base, .folder-top {
    position: absolute;
    width: 100%;
    height: auto;
} 

.folder-base {
    z-index: 1;
}

.title {
    position: absolute;
    z-index: 2;
    top: -12%;
    left: -44%;
    width: 180%;
    height: auto;
    transition: transform 2s cubic-bezier(0.4, 0, 0.2, 1);
}

.title.slide-right {
    transform: translate(10%, -5%);
}

.title.slide-out {
    transform: translate(-150%, 90%);
}

.folder-container {
    perspective: 1200px;
  }
  
.folder-top {
    z-index: 4;
    top: 20%;
    left: 4%;
    transform-origin: bottom left;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}
  
.folder-top.opening {
    transform: skewX(-20deg) scaleX(0.87);
}

.folder-content {
    position: absolute;
    top: 50%;
    left: 40%;
    width: 30%;
    aspect-ratio: 1;
    border-radius: 100%;
    z-index: 3;
    transition: 
        transform 1.5s cubic-bezier(0.4, 0, 0.2, 1), 
        border-radius 1.2s cubic-bezier(0.4, 0, 0.2, 1),
        background-color 1.2s ease-in-out;
    background: var(--color-blue-dark);
}

.folder-content.opening {
    transform: translateY(-150%);
}
  
.folder-content.expanding {
    transform: scale(30);
    border-radius: 0;
    background-color: white;
    z-index: 5;
}

.content-container {
    overflow: scroll;
}

#mainScreen {
    display: flex;
    background-color: white;
}

.content-header {
    position: sticky;
    z-index: 10;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 10rem;
    background-color: white;
}

.content-header-title {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    color: white;
    font-size: var(--font-size-xl);
    justify-content: space-between;
    height: 60%;
    width: 100vw;
    background: linear-gradient(to right, var(--color-blue-dark), var(--color-blue-light));
}

.content-header-nav {
    font-size: var(--font-size-md);
    display: flex;
    gap: 1rem;
    height: 40%;
    align-items: center;
    padding: 0 1rem;
}

a:hover {
    color: var(--color-blue-dark);
    text-decoration: underline;
}

.about-title {
    display: flex;
    gap: 3rem;
    font-size: var(--font-size-xl);
}

.about-title-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.content-body-section {
    padding: 1rem 1.5rem;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    font-size: var(--font-size-sm);
    line-height: 1.5;
}

.about-title img {
    width: 12rem;
    border-radius: 50%;
}

.about-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-list li {
    margin-left: 1rem;
    list-style: disc;
    font-size: var(--font-size-sm);
}

.draggable-animal {
    position: absolute;
    width: 8rem;
    height: 8rem;
    cursor: grab;
    z-index: 1000;
    top: 100px;
    left: 100px;
    user-select: none;
    touch-action: none;
}

.draggable-animal:active {
    cursor: grabbing;
}

.divider {
    text-align: center;
    color: var(--color-gray-md);
    font-size: 1.2rem;
    margin: 4rem 0;
}
  
.divider::before {
    content: "☆.。.:*・°☆.。.:*・°☆.。.:*・°☆.。.:*・°☆.。.:*・°☆.。.:*・°☆.。.:*・°☆.。.:*・°☆";
}

.skills-content {
    display: flex;
    gap: 3rem;
}

.skills-content-title {
    display: flex;
    flex-direction: column;
}

.skills-content-title-icon {
    display: inline-block;
    position: relative;
    width: 16rem;
    height: 16rem;
    transform: translateY(-20%) translateX(-20%);
}

.icon-radial {
    width: 100%;
    height: 100%;
    display: block;
}

.icon-folder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    display: block;
}

.rainbow-divider {
    width: 100%;
    height: 0.3rem;
    background: linear-gradient(to right, #FF0000, #FF7F00, #FFFF00, #00FF00, #0000FF, #8B00FF);
    transform: translateX(-15%);
}

.skills-content-title-text {
    font-size: var(--font-size-xl);
}

.skills-content-title-text-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transform: translateY(-30%);
}

.skills-content-description {
    font-size: var(--font-size-sm);
    width: 15rem;
}

.skills-list {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
  
.skills-group {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
  
.skills-list-title {
    font-size: var(--font-size-lg);
}
  
.skills-list-items {
    display: flex;
    font-size: var(--font-size-sm);
    flex-wrap: wrap;
    gap: 3rem;
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.skills-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem;
    text-align: center;
    gap: 1rem;
}

.folder-icon-closed {
    width: 8rem;
    height: 8rem;
}