@font-face {
    font-family: 'Yoster';
    src: url('/assets/fonts/yoster.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'DOSMyungjo';
    src: url('/assets/fonts/DOSMyungjo.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

:root {
    --color-primary: #367D7F;

    --font-size-2xl: 4rem;
    --font-size-xl: 2.5rem;
    --font-size-lg: 1.75rem;
    --font-size-md: 1.5rem;
    --font-size-sm: 1.25rem;

    --color-gray-dark: #878787;
    --color-gray-md: #C3C3C3;
    --color-gray-light: #D9D9D9;

    --color-blue-dark: #02178E;
    --color-blue-light: #0E78C8;
}